/* gravity forms styling */
// All gravity forms
.gform_wrapper {
  border: 20px solid $abcd-primary;
  padding: 20px;
  .percentbar_blue {
    background-color: $abcd-primary;
  }
  .gf_progressbar_wrapper {
      .gf_progressbar {
        .gf_progressbar_percentage.percentbar_blue {
          background-color: $abcd-primary;
        }
      }
  }

  .gform_body {

    ul.gform_fields {
      hr {
        margin-top: 0px; //
      }
      li.gfield {
        .gfield_description {
          padding-top: 0px!important;
        }
        input[type=text] {
          background-color: white;
        }
        input[type=checkbox],
        input[type=radio] {
          transform: scale(1.4, 1.4);
          margin-left: 5px!important;
          margin-top: 0px!important;
        }
        ul.gfield_checkbox,
        ul.gfield_radio {
          label:before {
            display: none; // clear out theme label (checkboxes)
          }
          label {
            font-size: .7em;
          }
        }
      } // regular field
      li.gfield.abcd-gf-nobottomborder {
        border-bottom: 0px;
      } // end field nobottomborder
    }
  }

	.gform_footer {
    text-align: right;
    input[type=submit] {

    }
    input[type=submit]:hover {

    }

	} // gform footer
} // gform wrapper
