/* Colors ---------------------------------------------- */
$abcd-primary: #80011F; // burgandy
// Font Colors

$linkcolor: #a62425;
$titleFontColor: #a62425;

// Background colors: 

$bkgoundContent: #FFFFFF; // 
$menuBarbkg: #D14719; //

// other colors
/* Typography ------------------------------------------ */
